
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : ''%>" href="/">Shop</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === 'shop/products' ? 'active' : ''%>" href="/products">Produkte</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/shop/cart' ? 'active' : ''%>" href="/cart">Warenkorb</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/shop/ordes' ? 'active' : ''%>" href="/orders">Bestellungen</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Neues Produkt</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Produkte</a>
                </li>
            </ul>
        </nav>
    </header>